
/*
*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.color1{
    background-color: seagreen;
}

.color2{
    background-color: slateblue;
}

.color3{
    background-color: red;
}

.contenedor{
    width: 80%;
    height: 500px;
    padding: 10px;
    margin: 10px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items: stretch;
    
}

.row{
    width: 110px;
    height: 60px;
}

.hijo{
  
    width: 100px;
    height: 70px;
    color: blue;
    margin: 30px;
    padding: 10px;
    font-size: 40px;

}
*/
